/build/
/benchpress-build/
.DS_Store

*~
*.swp
**/node_modules/*
**/dist/*
bower_components/
libs/
angular.xcodeproj
.idea
*.iml
.agignore
.lvimrc
libpeerconnection.log
npm-debug.log
/tmp/
/scripts/bower/bower-*
/src/
/dist/
